triton
tensorflow>=2.12.0
tqdm
numpy
gguf
pandas
tensorrt
transformers>=4.36.1
tensorboard
bitsandbytes==0.42.0
nvidia-cudnn-cu12
protobuf==3.20.*
unidecode
optimum
pytorch-extension
scipy
evaluate==0.4.0
unsloth[cu121_ampere_torch211] @ git+https://github.com/unslothai/unsloth.git
wandb
trl
flash-attn
IPython
gbnf-compiler
llama-cpp-python
ipykernel
jupyter
ipywidgets
widgetsnbextension
pandas-profiling
rouge-score